.carrusel{
    color: black;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
}

.nombre {
    font-family: 'Arial', sans-serif;
    color: hsl(172, 100%, 50%);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }